body {
  background-color: black !important;
}

#source-menu.open #menu-container {
  width: 100%;
  border-radius: 8px;
  padding-top: 10px;
}

#source-options {
  transform: translateY(-10px);
}

#source-menu.open #source-options {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}

.source-option {
  transform: translateY(-10px);
  transition-delay: 0s;
}

#source-menu.open .source-option {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.05s;
}

#source-menu.open #source-toggle {
  opacity: 0;
  visibility: hidden;
  display: none;
}

#source-menu.open #close-menu {
  opacity: 1;
  visibility: visible;
}


#source-menu #source-toggle {
  transform-origin: center;
}

#source-menu.open #source-toggle {
  transform: scale(0);
}

#source-menu:not(.open) #source-toggle {
  animation: scaleIn 0.3s ease-in-out;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}