.spinner-container {
    display: none;
    z-index: 10;
}

.ispinner {
    height: 20px;
    position: relative;
    width: 20px;
}

.ispinner .ispinner-blade {
    -webkit-animation: iSpinnerBlade 1s linear infinite;
    animation: iSpinnerBlade 1s linear infinite;
    background-color: #8e8e93;
    border-radius: 1.25px;
    height: 6.5px;
    left: 8.5px;
    position: absolute;
    top: 6.5px;
    width: 2.5px;
    will-change: opacity;
}

.ispinner .ispinner-blade:first-child {
    -webkit-animation-delay: -1.625s;
    animation-delay: -1.625s;
    -webkit-transform: rotate(45deg) translateY(-6.5px);
    transform: rotate(45deg) translateY(-6.5px);
}

.ispinner .ispinner-blade:nth-child(2) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(90deg) translateY(-6.5px);
    transform: rotate(90deg) translateY(-6.5px);
}

.ispinner .ispinner-blade:nth-child(3) {
    -webkit-animation-delay: -1.375s;
    animation-delay: -1.375s;
    -webkit-transform: rotate(135deg) translateY(-6.5px);
    transform: rotate(135deg) translateY(-6.5px);
}

.ispinner .ispinner-blade:nth-child(4) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
    -webkit-transform: rotate(180deg) translateY(-6.5px);
    transform: rotate(180deg) translateY(-6.5px);
}

.ispinner .ispinner-blade:nth-child(5) {
    -webkit-animation-delay: -1.125s;
    animation-delay: -1.125s;
    -webkit-transform: rotate(225deg) translateY(-6.5px);
    transform: rotate(225deg) translateY(-6.5px);
}

.ispinner .ispinner-blade:nth-child(6) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: rotate(270deg) translateY(-6.5px);
    transform: rotate(270deg) translateY(-6.5px);
}

.ispinner .ispinner-blade:nth-child(7) {
    -webkit-animation-delay: -.875s;
    animation-delay: -.875s;
    -webkit-transform: rotate(315deg) translateY(-6.5px);
    transform: rotate(315deg) translateY(-6.5px);
}

.ispinner .ispinner-blade:nth-child(8) {
    -webkit-animation-delay: -.75s;
    animation-delay: -.75s;
    -webkit-transform: rotate(1turn) translateY(-6.5px);
    transform: rotate(1turn) translateY(-6.5px);
}

.ispinner.ispinner-large {
    height: 35px;
    width: 35px;
}

.ispinner.ispinner-large .ispinner-blade {
    border-radius: 2.5px;
    height: 12px;
    left: 15px;
    top: 11.5px;
    width: 5px;
}

.ispinner.ispinner-large .ispinner-blade:first-child {
    -webkit-transform: rotate(45deg) translateY(-11.5px);
    transform: rotate(45deg) translateY(-11.5px);
}

.ispinner.ispinner-large .ispinner-blade:nth-child(2) {
    -webkit-transform: rotate(90deg) translateY(-11.5px);
    transform: rotate(90deg) translateY(-11.5px);
}

.ispinner.ispinner-large .ispinner-blade:nth-child(3) {
    -webkit-transform: rotate(135deg) translateY(-11.5px);
    transform: rotate(135deg) translateY(-11.5px);
}

.ispinner.ispinner-large .ispinner-blade:nth-child(4) {
    -webkit-transform: rotate(180deg) translateY(-11.5px);
    transform: rotate(180deg) translateY(-11.5px);
}

.ispinner.ispinner-large .ispinner-blade:nth-child(5) {
    -webkit-transform: rotate(225deg) translateY(-11.5px);
    transform: rotate(225deg) translateY(-11.5px);
}

.ispinner.ispinner-large .ispinner-blade:nth-child(6) {
    -webkit-transform: rotate(270deg) translateY(-11.5px);
    transform: rotate(270deg) translateY(-11.5px);
}

.ispinner.ispinner-large .ispinner-blade:nth-child(7) {
    -webkit-transform: rotate(315deg) translateY(-11.5px);
    transform: rotate(315deg) translateY(-11.5px);
}

.ispinner.ispinner-large .ispinner-blade:nth-child(8) {
    -webkit-transform: rotate(1turn) translateY(-11.5px);
    transform: rotate(1turn) translateY(-11.5px);
}

.ispinner.ispinner-medium {
    height: 30px;
    width: 30px;
}

.ispinner.ispinner-medium .ispinner-blade {
    border-radius: 2px;
    height: 10px;
    left: 13px;
    top: 10px;
    width: 4px;
}

.ispinner.ispinner-medium .ispinner-blade:first-child {
    -webkit-transform: rotate(45deg) translateY(-10px);
    transform: rotate(45deg) translateY(-10px);
}

.ispinner.ispinner-medium .ispinner-blade:nth-child(2) {
    -webkit-transform: rotate(90deg) translateY(-10px);
    transform: rotate(90deg) translateY(-10px);
}

.ispinner.ispinner-medium .ispinner-blade:nth-child(3) {
    -webkit-transform: rotate(135deg) translateY(-10px);
    transform: rotate(135deg) translateY(-10px);
}

.ispinner.ispinner-medium .ispinner-blade:nth-child(4) {
    -webkit-transform: rotate(180deg) translateY(-10px);
    transform: rotate(180deg) translateY(-10px);
}

.ispinner.ispinner-medium .ispinner-blade:nth-child(5) {
    -webkit-transform: rotate(225deg) translateY(-10px);
    transform: rotate(225deg) translateY(-10px);
}

.ispinner.ispinner-medium .ispinner-blade:nth-child(6) {
    -webkit-transform: rotate(270deg) translateY(-10px);
    transform: rotate(270deg) translateY(-10px);
}

.ispinner.ispinner-medium .ispinner-blade:nth-child(7) {
    -webkit-transform: rotate(315deg) translateY(-10px);
    transform: rotate(315deg) translateY(-10px);
}

.ispinner.ispinner-medium .ispinner-blade:nth-child(8) {
    -webkit-transform: rotate(1turn) translateY(-10px);
    transform: rotate(1turn) translateY(-10px);
}

@-webkit-keyframes iSpinnerBlade {
    0% { opacity: .85; }
    50% { opacity: .25; }
    to { opacity: .25; }
}

@keyframes iSpinnerBlade {
    0% { opacity: .85; }
    50% { opacity: .25; }
    to { opacity: .25; }
}

/* Show spinner when active */
.spinner-container.active {
    display: block;
}